.todo{
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 80vh;
    margin: 0 auto;
    
   
}
.todo.dark{
    color:hsl(234, 39%, 85%);
}
.todo.light{
    color:  hsl(235, 19%, 35%);
}